@model PlataFormaDePagosWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Cambiar la configuración de la cuenta</h4>
        <hr />
        <p>Contraseña:</p>
        @if (Model.HasPassword)
        {
            <a href="@Url.Action("ChangePassword", "manage")" class="btn btn-primary btn-lg" style="background-color:#054e98; border:none;">
                Administrar mi contraseña
            </a>
        }
        else
        {
            @Html.ActionLink("Crear", "SetPassword")
        }

    </div>
</main>