@using Microsoft.AspNet.Identity

<h2 class="mb-4 text-primary fw-bold">Usuario no encontrado!</h2>
<p>El usuario ingresado no existe en la lista de usuarios, por favor contacte un administrador.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg" style="background-color:#054e98; border:none;">
    Volver al inicio
</a>